html,
body,
#root,
.App {
  margin: 0;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.chart-container {
  flex: 1;
}

.tv-lightweight-charts {
  flex: 1;
  height: 100%;
}

h1,
p {
  font-family: Lato;
}


.rowAXC{display:flex; flex-direction:row;}


.disclaimer {
  position: fixed;
  left: 50%;
  bottom: 0;
  display: inline-block;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  font-size: 12px;
  width: 100%;
}

.appIcon {
  cursor: pointer;
}